<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Job management</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
<body>
	<div class="container" id="app">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Job management</h3>
			</div>
			<div class="panel-body">
				<form action="" role="form" v-on:submit.prevent>
					<legend>{{( editJobNo == -1 ) ? 'Add job' : ('Edit Job ' + editJobNo) }}</legend>
				
					<div class="form-group">
						<label for="">Job title</label>
						<input type="text" class="form-control" v-model="title">
					</div>
					
					<div class="form-group">
						<label for="">Job description</label>
						<input type="textarea" class="form-control" v-model="description" >
					</div>
					
					<label for="">Priority</label>
					<select class="form-control" v-model="priority">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
					<br>
					<button class="btn btn-primary" v-if="editJobNo == -1" v-on:click="addJob()">Submit</button>
					<button class="btn btn-primary" v-if="editJobNo > -1" v-on:click="editConfirm()">Confirm Edit</button>
					<button class="btn btn-danger">Delete</button>
				</form>
			</div>
		</div>
		<h3 style="display : inline-block">Jobs to do</h3>
		<select class="right" v-model="selectedPriority" v-on:change="jobsToShow = filteredJobs()">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="">all</option>
		</select>
		<select class="right" v-model="selectedStatus" v-on:change="jobsToShow = filteredJobs()">
			<option value="1">Finished</option>
			<option value="0">Not Finished Yet</option>
			<option value="">all</option>
		</select>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Status</th>
					<th>Priority</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody v-for="(job, index) in filteredJobs()">
				<tr>
					<td>{{ index }}</td>
					<td>{{ job.title }}</td>
					<td>{{ ( job.status == 0 ) ? 'Unfinished' : 'Finished'}}</td>
					<td>{{ job.priority }}</td>
					<td class="right">
						<button type="button" class="btn btn-success" v-on:click="job.status = changeStatus(job)">{{ ( job.status == 0 ) ? 'Finish' : 'Unfinish'}}</button>
						<button type="button" class="btn btn-primary" v-on:click="editJob(index)">Edit</button>
						<button type="button" class="btn btn-danger">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	<script>
		type="text/javascript";
		var vm = new Vue({
			el : "#app",
			data : {
				selectedStatus: '',
				selectedPriority: '',
				title: '',
				description: '',
				priority:'',
				editJobNo:-1,
				jobs : [
					{ title : "Finish post", status : 0, priority : 0},
					{ title : "Write new app", status : 1, priority : 1},
					{ title : "Check app", status : 0, priority : 1},
					{ title : "Finish website", status : 0, priority : 1},
					{ title : "Go out with love", status : 0, priority : 4}
				],
				jobsToShow : ''
			},
			methods : {
				filteredJobs : function(){
					var jb;
					jb = this.jobs;
					if ( this.selectedStatus > "" ){
						jb = jb.filter(function(j) {
							return j.status == vm.selectedStatus;
						});
					};
					if ( this.selectedPriority > "" ){
						jb = jb.filter(function(j) {
							return j.priority == vm.selectedPriority;
						});
					}
					console.log(jb);
					return jb;
				},
				addJob : function(){
					var j = { title: this.title, status: 0, priority: this.priority};
					this.jobs.push(j);
					this.title = '';
					this.description = '';
					this.priority = '';
				},
				changeStatus : function(j){
					return ( j.status == 1 ) ?  "0" : "1" ;
				},
				editJob : function(index){
					this.editJobNo = index;
					this.title = this.jobs[index].title;
					this.priority = this.jobs[index].priority;
				},
				editConfirm: function(){
					if (this.editJobNo > -1 ){
						this.jobs[this.editJobNo].title = this.title;
						this.jobs[this.editJobNo].priority = this.priority;
						this.title = '';
						this.description = '';
						this.priority = '';
					}
				}
			}
		})
		vm.jobsToShow = vm.jobs;
	</script>	
</body>
</html>